body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #DDDDDD;
}

a {
  color: #00B7FF;
}

table {
  margin: 24px;
  background-color: #ffffff;
  border-collapse: collapse;
}

  thead {
    background-color: #CCCCCC;
  }



  td, th {
    border-color: #999999;
    border-width: 1px;
    border-style: solid;

    padding: 8px;
  }